/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	nav{
		line-height: 50px;
	}
	#navbarNav{
		background-color: #fff;
	}
	.navbar{
		padding: 0;
	}
	.menu li{
		border-bottom: 1px solid #888;
		text-align: center;
		font-size: 16px;
		padding: 0 15px;
	}
	.aboutUs_img2{
		position: relative;
		top: 0;
		left: 0;
		padding-top: 30px;
	}
	.au_img1{
		height: 450px;
	}
	.au_img2{
		width: 80%;
		padding-left: 20%;
	}
	.aboutUs_card{
		bottom: 0;
		padding-right: 0;
		padding-top: 30px;
	}
	.au_card{
		width: 100%;
	}
	.st_card{
		margin-top: 30px;
	}
	.students_cards{
		padding: 10px 0 50px 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 820px) {
	nav{
		line-height: 50px;
	}
	#navbarNav{
		background-color: #fff;
	}
	.navbar{
		padding: 0;
	}
	.menu li{
		border-bottom: 1px solid #888;
		text-align: center;
		font-size: 16px;
		padding: 0 15px;
	}
	.m_b_content h1{
		margin: 0 0 0 25px;
	}
	.m_b_content button{
		margin-bottom: 50px;
	}
	.uni_content h3{
		margin-top: 20px;
	}
	.uni_btn{
		padding: 10px 50px;
		margin-top: 40px;
	}
	.univetsities{
		padding-bottom: 0;
	}
	.footer_nav{
		padding: 0;
	}
	.links{
		padding: 0;
	}
	footer{
		padding-bottom: 40px;
	}
	.carousel-item img{
		height: 430px;
	}
	.uni_block img{
		width: 100%;
	}
	.uni_descr_content p{
		width: 100%;
	}
	.btn_of_app_img{
		height: 550px;
	}
	.btn_of_app_content{
		height: 100%;
		padding: 40px 60px;
	}
	.btn_of_app_content button{
		padding: 10px 50px;
	}
	.form-group .btn_app{
		padding: 10px 50px;
	}
	.info-wrap{
		height: 350px;
	}
	.learn_more p{
		width: 90%;
	}
	.au_img1{
		height: 450px;
	}
	.aboutUs_img2{
		position: relative;
		top: 0;
		left: 0;
		padding-top: 30px;
	}
	.au_img2{
		width: 70%;
		margin-left: 15%;
	}
	.aboutUs_card{
		padding-top: 30px;
		bottom: 0;
		padding-right: 0;
	}
	.au_card{
		width: 100%;
		float: none;
	}
	.st_card{
		margin-top: 30px;
	}
	.students_cards{
		padding: 10px 0 50px 0;
	}
	.st_card img{
		width: 210px;
	}
	.st_card h3{
		font-size: 32px;
	}
	.st_card h5{
		font-size: 24px;
	}
	.st_card p{
		width: 70%;
		margin: 0 auto;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	nav{
		line-height: 50px;
	}
	#navbarNav{
		background-color: #fff;
	}
	.navbar{
		padding: 0;
	}
	.menu li{
		border-bottom: 1px solid #888;
		text-align: center;
	}
	.title_img_1{
		height: 300px;
	}
	.title_img_2{
		height: 300px;
	}
	.m_b_content h1{
		font-size: 28px;
		margin: 0 0 0 25px;
	}
	.m_b_content p{
		font-size: 16px;
		line-height: 28px;
		margin: 25px 0 0 27px;
	}
	.m_b_content button{
		padding: 10px 50px;
		font-size: 16px;
		margin-bottom: 50px;
	}
	.m_b_image1{
		height: 350px;
	}
	.m_b_image2{
		height: 350px;
		width: 100%;
		position: relative;
		top: 0;
		right: 0;
		box-shadow: 0 0 0 0;
	}
	.univetsities{
		padding-bottom: 0;
	}
	.learn_more{
		padding: 20px 30px;
		text-align: center;
	}
	.learn_more p{
		width: 100%;
		text-align: center;
	}
	.footer_nav{
		padding: 0 30px;
		text-align: center;
		line-height: 30px;
	}
	.links{
		padding: 0 30px;
		text-align: center;
	}
	.footer_img{
		margin: 30px auto 0 auto;
	}
	.uni_btn{
		padding: 10px 50px;
		margin-top: 50px;
	}
	.uni_block img{
		width: 100%;
		height: 350px;
	}
	.uni_descr_content{
		padding: 0 10px 20px;

	}
	.uni_descr_content h1{
		font-size: 24px;
		margin-top: 30px;
	}
	.uni_descr_content p{
		width: 100%;
		font-size: 18px;
		line-height: 32px;
	}
	.uni_programm_block{
		padding: 40px 20px;
	}
	.uni_programm_block h1{
		font-size: 20px;
	}
	.uni_programm_item{
		padding: 15px;
		margin: 0;
		width: 100%;
		height: 95%;
	}
	.uni_programm_item p{
		font-size: 14px;
	}
	.uni_programm_item h3{
		font-size: 17px;
	}
	.btn_of_app{
		margin: 0 0 50px 0;
	}
	.btn_of_app_img{
		height: 350px;
	}
	.btn_of_app_content{
		padding: 50px 30px;
		height: 100%;
	}
	.btn_of_app_content p{
		line-height: 28px;
		font-size: 16px;
	}
	.btn_of_app_content button{
		padding: 10px 50px;
	}
	.carousel-item img{
		height: 350px;
	}
	.dbox{
		margin: 10px 0;
	}
	.form-group .btn_app{
		padding: 10px 50px;
	}
	.info-wrap{
		height: 350px;
	}
	.au_img1{
		height: 300px;
	}
	.aboutUs_img2 {
		padding-top: 30px;
		position: relative;
		top: 0;
		left: 0;
	}	
	.au_img2{
		height: 400px;
	}
	.aboutUs_card {
		position: relative;
		bottom: 0;
		padding-top: 30px;
		padding-right: 0;
	}
	.au_card{
		width: 100%;
		padding: 20px;
		float: none;
	}
	.au_card img{
		width: 70px;
		height: 70px;
	}
	.au_card p{
		font-size: 14px;
		line-height: 28px;
	}
	.st_card{
		margin-top: 30px;
	}
	.st_card img{
		width: 210px;
	}
	.students_cards{
		padding: 10px 0 50px 0;
	}
	.students_title h1{
		font-size: 35px;
	}
	.st_card h3{
		font-size: 32px;
	}
	.st_card h5{
		font-size: 24px;
	}
}
